.services__container{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 900px;
}

.alignGridx{
    width: 100%;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.services__header{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .services__h3{
        color: #FFD600;
        font-size: 10px;
        margin-bottom: 10px;
    }
    .services__h2{
        font-size: 18px;
        color: #FFFFFFFF;
        margin-bottom: 15px;
        .colorBold{
            color: #FFD600;
        }
    }
    .line{
        width: 120px;
        height: 2px;
        background-color: #FFD600;
        margin-bottom: 33px;
    }
}

.services__article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .article__p{
        font-size: 14px;
        text-align: center;
        width: 331px;
        color: #FFFFFFFF;
        line-height: 22px;
    }
    .btn__container{
        margin-bottom: 86px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 22px;

        .btnCall{
            width: 163px;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px;
            background-color: #ffd500e5;
            color: #FFFFFFFF;
            border: 1px solid #ffd500e5;
        }

        .link__whatsapp{
            width: 36px;
            height: 33px;
            border-radius: 6px;
            background-color: rgb(255, 255, 255, 50%);
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.services_content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* Espaçamento entre as colunas */

    .services__box{
        width: 147px;
        height: 117px;
        background-color: #121212;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        
        .text_box{
            font-size: 12px;
            font-weight: 600;
            color: #FFFFFFFF;
            width: 114px;
            text-align: center;
        }
    }

    .special{
        background: linear-gradient(360deg, rgba(255, 213, 0, 0.308) 0%, rgba(0, 0, 0, 0.00) 100%), #121212;
    }

    .box2,
    .box4{
        margin-top: 25px;
    }
}


@media(min-width: 600px){ 
    .alignGridx{
        min-width: 360px;
        width: 74.52%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }    
}    

@media(min-width: 1000px){
    .services_content{
        align-items: center;
        .services__box{
            .boxImg{
                width: 48px;
                height: 48px;
            }
            width: 150px;
            height: 135px;
            background-color: #121212;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            
            .text_box{
                font-size: 12px;
                color: #FFFFFFFF;
                width: 114px;
                text-align: center;
            }
        }
    }
    .alignGridx{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 500px;
        padding: 50px 0px 0px 0px;
        .text__container{
            .services__header{
                margin-top: 30px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;

                .services__h3{
                    font-size: 1rem;
                }
                .services__h2{
                    font-size: 30px;
                }
                .line{
                    width: 81px;
                }
            }
            .services__article{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 20px;
                .article__p{
                    font-size: 14px;
                    text-align: start;
                    width: 370px;
                    color: #FFFFFFFF;
                    line-height: 22px;
                }
                .btn__container{
                    margin-top: 10px;
                    margin-bottom: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 22px;
            
                    .btnCall{
                        font-size: 14px;
                        font-weight: 600;
                        width: 163px;
                        height: 33px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        background-color: #ffd500c5;
                        border: none;
                        color: #FFFFFFFF;
                        cursor: pointer;
                        transition: ease 0.2s all;
                    }
                    .btnCall:hover{
                        background-color: #ffd500a2;
                    }
            
                    .link__whatsapp{
                        width: 36px;
                        height: 33px;
                        border-radius: 6px;
                        background-color: rgb(255, 255, 255, 50%);
                        border: 1px solid #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: ease 0.2s all;
                    }

                    .link__whatsapp:hover{
                        background-color: rgba(255, 255, 255, 0.699);
                    }
                }
            }

        }
    }

}


@media(min-width: 1200px){
    .alignGridx{
        .text__container{
            .services__article{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 20px;
                .article__p{
                    font-size: 16px;
                    text-align: start;
                    width: 400px;
                    color: #FFFFFFFF;
                    line-height: 22px;
                }
                .btn__container{
                    margin-top: 10px;
                    margin-bottom: 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 22px;
            
                    .btnCall{
                        font-size: 1rem;
                        font-weight: 600;
                        width: 202px;
                        height: 41px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 6px;
                        background-color: #ffd500c5;
                        border: none;
                        color: #FFFFFFFF;
                        cursor: pointer;
                        transition: ease 0.2s all;
                    }
                    .btnCall:hover{
                        background-color: #ffd500a2;
                    }
            
                    .link__whatsapp{
                        width: 36px;
                        height: 33px;
                        border-radius: 6px;
                        background-color: rgb(255, 255, 255, 50%);
                        border: 1px solid #fff;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: ease 0.2s all;
                    }
            }
        }
    }        
            .services_content{
            margin-top: 50px;
            .services__box{
                .boxImg{
                    width: 54px;
                    height: 54px;
                }
                width: 217px;
                height: 171px;
                background-color: #121212;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 15px;
                
                .text_box{
                    font-size: 16px;
                    color: #FFFFFFFF;
                    width: 160px;
                    text-align: center;
                }
            }
        }
    }
}

@media(min-width: 1400px){
    .alignGridx{
        max-width: 1200px;
        .text__container{
            .services__article{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 20px;
                .article__p{
                    font-size: 14px;
                    text-align: start;
                    width: 480px;
                    color: #FFFFFFFF;
                    line-height: 22px;
                }
            }
        }
    }
}
