// Dark Mode
$background-dark: #0B0B0B;
$secundary-background-dark: linear-gradient(97deg, #3C0015 -82.2%, #0B0B0B 61.02%);
$header-background-dark: #151515;
$aside-media-background-dark: #222222;

$brand-color-dark: #FF1B7B;
$secondary-color-dark: #FFFFFF;
$alternative-color-dark: #ABB2BF;


//Light Mode

$background-light: #fafafa;
// $secundary-background-light: ?;
// $header-background-light: ?;
// $aside-media-background-light: ?;

// $brand-color-light: ?;
// $secondary-color-light: ?;
// $alternative-color-light: ?;
