//Brand color

$brand-color-dark: #FFD600;
$secondary-color-dark: #FFFFFF;


//Text Size

$h1-title-desk: 2.375rem;
$h1-title-tablet: 1.75rem;
$h1-title-mobile: 1.375rem;

$h2-subtitle-desk: 1.625rem;
$h2-subtitle-tablet: 1.2rem;
$h2-subtitle-mobile: 1rem;

$h3-subtitle-desk: 1.125rem;
$h3-subtitle-tablet: 1rem;
$h3-subtitle-tablet: 0.875rem;

$text-desk: 1rem;
$text-tablet: 0.875rem;
$text-mobile: 0.875rem;

$subtext-desk: 0.875rem;
$subtext-tablet: 0.75rem;
$subtext-mobile: 0.75rem;