$background-color: linear-gradient(97deg, #3C0015 -82.2%, #0B0B0B 61.02%);
$black-background: #0B0B0B;
$header-background: #151515;
$aside-media-background: #141414;

$brand-color: #FF1B7B;
$secondary-color: #FFFFFF;
$alternative-color: #ABB2BF;

.ricardo{
    width: 40px;
    height: 40px;
    background-color: #0B0B0B;
}