.main__container{
    width: 100%;
    background-color: #000;
}

.main__firstSection{
    width: 100%;
    height: 550px;
    box-sizing: border-box;
    padding-top: 100px;
    background-image: url("/images/background/HomeMobile.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;

    .alignGrid{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: center;
        gap: 31.4px;
        padding-left: 0;
        padding-right: 0;
    }
}


.firstSection__infoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .infoContainer--name{
        font-size: 20px;
        font-weight: 700;
        color: #ffe600;
    }

    .infoContainer--description{
        font-weight: 300;
        font-size: 14px;
        width: 331px;
        text-align: center;
        color: #FFFFFF;
        line-height: 17px;

        .bold-color{
            color: #ffe600;
            font-weight: 700;
        }
    }

    .infoContainer__menuNavigate{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-top: 21px;
        
        .menuNavigate--downloadCV{
            background-color: #DDBA00;
            border: 1px solid #DDBA00;
            font-size: 12px;
            width: 80px;
            height: 38px;
            border: none;
            border-radius: 6px;
            color: #FFFFFF;
            font-weight: 700;
            cursor: pointer;
        }

        .menuNavigate--link{
            width: 41px;
            height: 38px;
            border-radius: 6px;
            background-color: rgb(255, 255, 255, 50%);
            border: 1px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.firstSection__imageContainerDESK{
    display: none;
}

@media(min-width: 600px){ 
    .main__firstSection{
        background-image: url("/images/background/home_img.svg");
        background-size: cover;
        background-position: center;
    }
}

@media(min-width: 1000px){
    .main__firstSection{
        height: 700px;
        .alignGrid{
            height: 387px;
            box-sizing: border-box;
            padding-top: 160px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            width: 74.52%;
        }
    }

    .firstSection__imageContainerDESK{
        display: block;
    }

    .firstSection__imageContainerMOBILE{
        display: none;
    }

    .firstSection__infoContainer{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 15px;
    
        .infoContainer--name{
            font-size: 44px;
        }
    
        .infoContainer--description{
            font-weight: 300;
            font-size: 20px;
            width: 448px;
            text-align: start;
            color: #FFFFFF;
            line-height: 25px;
    
            .bold-color{
                color: #ffe600;
                font-weight: 700;
            }
        }
    
        .infoContainer__menuNavigate{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            margin-top: 21px;
            
            .menuNavigate--downloadCV{
                width: 114px;
                background-color: transparent;
                outline: 2px solid #DDBA00;
                font-size: 1rem;
                height: 48px;
                border: none;
                border-radius: 6px;
                color: #FFFFFF;
                font-weight: 700;
                cursor: pointer;
                transition: ease 0.3s all;
            }
            .menuNavigate--downloadCV:hover{
                background-color: #463f00da;
                outline: 2px solid #ffe70eda;
            }
    
            .menuNavigate--link{
                width: 50px;
                height: 48px;
                border-radius: 6px;
                background-color: rgb(255, 255, 255, 50%);
                border: 1px solid #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: ease 0.3s all;
            }

            .menuNavigate--link:hover{
                background-color: rgba(255, 255, 255, 0.308);
            }
        }
    }
}