.headerContainer{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    font-family: "Inter", sans-serif;
}

.alignGrid{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    pointer-events: none;
}

.logoText{
    color: #FFD600;
    font-size: 14px;
    font-family: var(--font-yeseva-one);
    user-select: none;
}

@media(min-width: 600px){ 
    .logoText{
        font-size: 1rem;
    } 
    .alignGrid{
        min-width: 360px;
        width: 74.52%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }    
}    


